

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    background-color: beige;
    margin: 10px;
    padding: 10px;
}

.input {
    background-color: gainsboro;
    font-size: 1rem;
}

.button {
    background-color: gainsboro;
    border: none;
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
}